# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# Database
*.db
*.db-journal
prisma/migrations/

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.husky/